/*
  intrinsic: 348 x 348
  size: 250 x 250
} */

.slideShowContainer {
  display: flex;
  flex-direction: row;
  height: 320px;
  width: 660px;
}

.photoContainer {
  height: 348px;
  width: 348px;
  object-fit: cover;
}

img:hover {
  height: 348px;
  width: 348px;
}

img {
  width: 250px;
  height: 250px;
  transition: .2s
}