/*
  intrinsic: 348 x 348
  size: 250 x 250
} */

.slideShowContainer {
  display: flex;
  flex-direction: row;
  height: 320px;
  width: 660px;
}

.photoContainer {
  min-height: 250px;
  min-width: 250px;
  object-fit: cover;
  padding: 5px;
}

img:hover {
  position: absolute;
  transform: scale(1.2);
  z-index: 100;
}

img {
  position: absolute;
  width: 250px;
  height: 250px;
  transition: .2s;
}